.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  transition: 0.3s ease-in-out all;
  margin: 0px 20px;
}

.button:hover {
  transform: scale(1.11);
}
